# Database Connection String
DATABASE_URL="postgresql://username:password@localhost:5432/casi_check_db?schema=public"

# App Environment
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Authentication / Secrets
NEXTAUTH_SECRET="your-32-character-secret-here"
